// Place all the styles related to the admin/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.topics-button-group {
  display: flex; /* Flexboxを使用するために必要 */
  gap: 20px; /* ボタン間のスペースを指定 */
  justify-content: flex-end; /* ボタンを右に寄せる */
}