
<table>
  <thead>
    <tr>
      <th>企業一覧</th>
    </tr>
  </thead>
</table>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to "詳細", companies_path %></td><br>
        <td>企業名：<%= company.name %></td><br>
      </tr>
    <% end %>
  </tbody>
