// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

thead th {
  color: #696969; // `thead` の文字色を変更
  font-weight: bold; // フォントの太さを変更
}

/*企業レビュー投稿と詳細*/
.company-details {
  border: 1px solid #ddd; /* 全体の枠線の色 */
  padding: 10px; /* 内部余白を追加 */
  margin: 20px auto; /* 上下余白を追加し、中央寄せ */
}
.company-detail {
  display: flex; /* フレックスボックスレイアウトを使用 */
  padding: 5px 0; /* 上下の内部余白を追加 */
  border-bottom: 1px solid #ddd; /* 下部の枠線 */
  align-items: center;
}
.company-detail:last-child {
  border-bottom: none; /* 最後の要素には枠線をつけない */
}
.label {
  flex: 1; /* ラベルを左側に配置 */
  text-align: center; /* ラベルの文字を中央寄せ */
  font-weight: bold; /* ラベルの文字を太くする */
  padding-right: 10px; /* ラベルと縦線の間に余白を追加 */
  font-size: 1.2rem; /* ラベルの文字サイズを設定 */
}
.value {
  flex: 2; /* 値を右側に配置 */
  text-align: center; /* 値の文字を中央寄せ */
  border-left: 1px solid #ddd; /* 左側に縦線を追加 */
  padding-left: 10px; /* 縦線と値の間に余白を追加 */
}
.text-center {
  text-align: center; /* テキストを中央に揃える */
  margin-top: 55px;
}
.btn-actions {
  justify-content: center; 
}

/*<li>のフォントサイズ*/
.company-info {
  font-size: 1.1rem; /* フォントサイズを設定 */
}

.company-description {
  border-top: 2px dotted #888; /* 上部のボーダー */
  padding-top: 10px; /* 上部に余白を追加 */
  margin-top: 20px; /* 上部の外側余白を追加 */
}
.pickup-reviews {
  border-top: 2px dotted #888; /* 上部のボーダー */
  padding-top: 10px; /* 上部に余白を追加 */
  margin-top: 20px; /* 上部の外側余白を追加 */
}

.average-review {
  margin-top: 20px;
}
.average-review p {
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block; /* 追加 */
  margin-right: 10px; /* 追加 */
}
#company_reviews_average_raty {
  display: inline-block; /* 追加 */
}
.pickup-title {
  font-size: 2rem; /* 文字サイズを大きく */
  text-align: center; /* 中央揃え */
  margin-bottom: 1rem; /* 下に余白を追加 */
  color: #333; /* 文字の色を変更 */
}
/*ここまで*/

/*admin詳細画面*/
.admin-company-details {
  border: 1px solid #ddd; /* 全体の枠線の色 */
  padding: 10px; /* 内部余白を追加 */
  margin: 20px auto; /* 上下余白を追加し、中央寄せ */
}
.admin-company-detail {
  display: flex; /* フレックスボックスレイアウトを使用 */
  padding: 5px 0; /* 上下の内部余白を追加 */
  align-items: center;
}
/* 最初の要素の左ボーダーを削除 */
.admin-company-detail .value:first-child {
  border-left: none;
}