// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

thead th {
  color: #fff; // `thead` の文字色を変更
  font-weight: bold; // フォントの太さを変更
}

.reviews-container {
  display: flex; /* フレックスボックスコンテナ */
  flex-direction: row; /* 横並び */
  flex-wrap: wrap; /* アイテムがコンテナを超える場合は折り返す */
  justify-content: center; /* アイテムを中央に配置 */
  gap: 1rem; /* カード間のスペース */
  padding: 1rem; /* コンテナの内側に余白を追加 */
}









.form-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 7%;
}
.reviews-field {
  flex: 40%; /* 各フィールドの幅配置 */
  box-sizing: border-box;
  padding: 10px; 
  font-size: 20px;
  display: flex;
}
.reviews-content-field {
  width: 100%;
}
.btn-actions {
  text-align: center;
  margin-bottom: 10px;
}
.link-back {
  text-align: right;
  margin-bottom: 40px;
}

