// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/*トピックス投稿画面*/
.topics-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.form {
  background: rgba(255, 255, 255, 0.767); /* 背景色を白にして透過を追加 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1); /* 透過の枠を作成 */
  width: 80vh; /* 幅を100%に設定 */
}

.topic-form-control {
  height: 25vh;
  width: 62vh;
  border-color: rgba(172, 168, 168, 0.47);
  border-radius: 8px;
}
/*ここまで*/


/*トピックス編集画面*/
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}
/*ここまで*/

.text-underline {
  text-underline-offset: 4px;
}