// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.field,
div.actions {
  margin-bottom: 10px; 
 }

 .google-documents {
  display: flex;
  justify-content: space-between; /* ドキュメント間のスペースを均等に */
  gap: 20px; /* ドキュメント間の間隔を指定 */
}

.google-document {
  flex: 1; /* 各ドキュメントが同じ幅を取る */
  margin: 10px;
}

.google-document iframe {
  width: 100%;
  height: 500px; /* 必要に応じて高さを調整 */
}

