// Place all the styles related to the users/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-page {
  background-image: url('background-login.jpg');
  background-size: cover; /* 画面全体に画像をフィットさせる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-attachment: fixed; /* 画面をスクロールしても背景画像は固定 */
}

/* ログインフォームのスタイル */
.login-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポート全体の高さに設定 */
}

.login-page #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: auto; /* 高さは内容に応じて調整 */
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  padding: 20px;
}